<a href="https://colab.research.google.com/github/CamelGoong/DataScience_Practicing/blob/main/%5BPandas%5DPART_1_Pandas_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2-1. 시리즈

인덱스와 데이터 값이 일대일로 대응되는 형태가 파이썬 딕셔너리와 비슷한 구조를 갖는다고 생각할 수 있기에, 딕셔너리 -> 시리즈로 변환하는 방법을 많이 사용. / 1차원 배열의 형태

In [ ]:
import pandas as pd

dictionary = {"a":1, "b":2, "c": 3}
dictionary

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# 딕셔너리 -> 판다스 Series

sr = pd.Series(dictionary)
print(type(sr))
print('\n')
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [ ]:
# 리스트 -> 판다스 Series

import pandas as pd

list = ["심태원", '박해균', '회계원리']

sr = pd.Series(list)
print(sr)

0     심태원
1     박해균
2    회계원리
dtype: object

In [ ]:
# 튜플 -> 판다스 Series

import pandas as pd

tup_data = ("영인", "2020-06-23", '여', True)
sr = pd.Series(tup_data, index = ['이름', "생년월일", "성별", "학생여부"])
print(sr)

이름              영인
생년월일    2020-06-23
성별               여
학생여부          True
dtype: object

In [ ]:
print(sr[0])
print(sr['이름'])
print(sr[['이름', '생년월일']])
print(sr[1:2])

영인
영인
이름              영인
생년월일    2020-06-23
dtype: object
생년월일    2020-06-23
dtype: object

#2-2. 데이터프레임

2차원 배열 / 여러 개의 리스트를 원소로 갖는 딕셔너리를 함수의 인자로 전달

In [ ]:
# 딕셔너리 ->  데이터프레임 / 리스트가 열로 변환

import pandas as pd

dictionary = {"한글" : ["가", "나", "다", "라", "마"], "영어" : ["a", "b", "c", "d", "e"], "숫자" : [1, 2, 3, 4, 5]}
print(dictionary)

df = pd.DataFrame(dictionary)
print(df)
print(type(df))

{'한글': ['가', '나', '다', '라', '마'], '영어': ['a', 'b', 'c', 'd', 'e'], '숫자': [1, 2, 3, 4, 5]}
  한글 영어  숫자
0  가  a   1
1  나  b   2
2  다  c   3
3  라  d   4
4  마  e   5
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# pd.Dataframe으로 데이터프레임 만들기 / 리스트가 행으로 변환
import pandas as pd

df = pd.DataFrame([[15, "남", "덕영중"], [17, "여", '수리중']],
             index = ["준서", "예은"],
             columns = ["나이", "성별", "학교"])

df

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [ ]:
# 행 이름 및 열 이름 변경

df.index = ["학생1", "학생2"]
df.columns = ['연령', "남녀", "소속"]

df

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [ ]:
# rename() 메소드: 행 인덱스 또는 열 이름의 일부를 선택하여 변경 / 단, 원본 객체를 직접 수정하는 것이 아니라, 새로운 데이터프레임 객체를 반환
# 원본 객체를 변경하려면, inplace = True를 사용하면 됨.

df.rename(columns = {"연령":"나이", "남녀":"성별", "소속":"학교"}, inplace = True)
df

     나이 성별   학교
학생1  15  남  덕영중
학생2  17  여  수리중

In [ ]:
# drop() 메소드: 행(axis = 0) 또는 열(axis = 1) 삭제 / 단 원본 객체를 변경하지 않고, 새로운 객체를 반환하는 점에 유의

# 열 1개 삭제
df.drop('나이', axis = 1)

# 열 2개 삭제
df.drop(['나이', '학교'], axis = 1)

    성별
학생1  남
학생2  여

In [ ]:
# 행 선택: iloc와 loc

import pandas as pd

exam_data = {"수학":[90, 80, 70], "영어":[98,89,95], "음악":[85, 95, 100], "체육":[100, 90, 90]}
df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
df

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [ ]:
# 행 1개 선택
label1 = df.loc['서준']
label1

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [ ]:
# 행 1개 선택
df.iloc[1]

수학    80
영어    89
음악    95
체육    90
Name: 우현, dtype: int64

In [ ]:
# 행 2개 선택
df.iloc[[0,1]]

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

In [ ]:
# 열 1개만 선택
df['수학']
df.수학

서준    90
우현    80
인아    70
Name: 수학, dtype: int64

In [ ]:
# 열 2개 선택
df[['음악', '체육']]
df.iloc[:-1] # 역순으로 인덱싱

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

원소 선택

In [ ]:
df
df.loc["서준", ["음악","체육"]]
df.loc["서준", "음악":'체육']

음악     85
체육    100
Name: 서준, dtype: int64

열 추가

In [ ]:
df['국어'] = 80
df

    수학  영어   음악   체육  국어
서준  90  98   85  100  80
우현  80  89   95   90  80
인아  70  95  100   90  80

행 추가

In [ ]:
df.loc[4] = ['동규', 90, 80, 70, 60]
df

    수학  영어   음악   체육  국어
서준  90  98   85  100  80
우현  80  89   95   90  80
인아  70  95  100   90  80
4   동규  90   80   70  60

원소 값 변경

In [ ]:
# 특정 원소를 변경

df.iloc[0][3] = 80
df.loc['서준']['체육'] = 100
df.loc['서준', '체육'] = 90
df.iloc[0,3] = 70
df

    수학  영어   음악  체육
서준  90  98   85  70
우현  80  89   95  90
인아  70  95  100  90

In [ ]:
# 여러개의 원소값을 동시에 바꾸기
df.loc['서준', ['음악', '체육']] = 100, 50

df.T
df = df.transpose
df

<bound method DataFrame.transpose of     수학  영어   음악  체육
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90>

#2-3. 인덱스 활용

set_index(['열 이름']) : 특정 열을 행 인덱스로 설정 / 원본 데이터프레임을 수정하지 않고, 새로운 객체를 반환

In [ ]:
import pandas as pd

exam_data = {'이름': ['서준', '우현', '인아'],
             '수학': [90, 80, 70],
             '영어': [98, 89, 95],
             '음악': [85, 95, 100],
             '체육': [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)

# 특정 열을 데이터프레임의 행 인덱스로 설정
df.set_index(['이름'])

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

reindex(새로운 인덱스 배열): 행 인덱스를 새로운 배열로 재지정

In [ ]:
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}
df = pd.DataFrame(dict_data, index = ['r0', 'r1', 'r2'])
print(df)

new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index)
print(ndf)
ndf2 = df.reindex(new_index, fill_value = 1)
print(ndf2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN
    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   1   1   1   1   1
r4   1   1   1   1   1

reset_index(): 행 인덱스 초기화

In [ ]:
print(df)
df.reset_index()

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

sort_index(): 행 인덱스를 기준으로 데이터프레임 정렬

In [ ]:
print(df)
ndf = df.sort_index(ascending = False)
print(ndf)

ndf = df.sort_values(by = 'c1', ascending = False) # by: 정렬의 기준으로 삼을 열
print(df)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13
    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

#2-4. 산술연산

연산 메소드

In [ ]:
import pandas as pd
import numpy as np

student1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90})

print(student1)
print(student2)

# 두 학생의 과목별 점수로 사칙연산 수행
sr_add = student1.add(student2, fill_value=0)
sr_sub = student1.sub(student2, fill_value=0)
sr_mul = student1.mul(student2, fill_value=0)
sr_div = student1.div(student2, fill_value=0)

result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div], index = ['덧셈', '뺄셈', '곱셈', '나눗셈'])

print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64
수학    80
국어    90
dtype: int64
       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf

데이터 프레임 연산

In [ ]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age', 'fare']] # 2개의 행만 선택
df.head()

# 데이터프레임에 숫자 10 더하기
addition = df + 10
addition.head()
print(type(addition))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
subtraction = addition - df
subtraction.head()

    age  fare
0  10.0  10.0
1  10.0  10.0
2  10.0  10.0
3  10.0  10.0
4  10.0  10.0