<a href="https://colab.research.google.com/github/CamelGoong/DataScience_Practicing/blob/main/PART_2_Data_input%26output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 외부파일 읽어오기

1-1 CSV 파일

In [11]:
import pandas as pd

# header = 0 (기본옵션 적용)
df1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/파이썬 머신러닝 판다스 데이터 분석/data/part2/read_csv_sample.csv")
print(df1)

# header = None
df2 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/파이썬 머신러닝 판다스 데이터 분석/data/part2/read_csv_sample.csv", header = None)
print(df2)

# index_col = None
df3 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/파이썬 머신러닝 판다스 데이터 분석/data/part2/read_csv_sample.csv", index_col = None)
print(df3)

# index_col = 'c0
df4 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/파이썬 머신러닝 판다스 데이터 분석/data/part2/read_csv_sample.csv", index_col = "c0")
print(df4)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9
    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9
   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9
    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

1-2 Excel 파일

In [4]:
import pandas as pd

df1 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/파이썬 머신러닝 판다스 데이터 분석/data/part2/남북한발전전력량.xlsx")
print(df1)

# header = None
df2 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/파이썬 머신러닝 판다스 데이터 분석/data/part2/남북한발전전력량.xlsx", header = None)
print(df2)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  ...  2011  2012  2013  2014  2015  2016
0        남한     합계  1077  1186  1310  1444  ...  4969  5096  5171  5220  5281  5404
1       NaN     수력    64    51    49    60  ...    78    77    84    78    58    66
2       NaN     화력   484   573   696   803  ...  3343  3430  3581  3427  3402  3523
3       NaN    원자력   529   563   565   581  ...  1547  1503  1388  1564  1648  1620
4       NaN    신재생     -     -     -     -  ...     -    86   118   151   173   195
5        북한     합계   277   263   247   221  ...   211   215   221   216   190   239
6       NaN     수력   156   150   142   133  ...   132   135   139   130   100   128
7       NaN     화력   121   113   105    88  ...    79    80    82    86    90   111
8       NaN    원자력     -     -     -     -  ...     -     -     -     -     -     -

[9 rows x 29 columns]
          0       1     2     3     4   ...    24    25    26    27    28
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  ...  2012  2013  2014  2015  2016
1         남한      합계  1077  1186  1310  ...  5096  5171  5220  5281  5404
2        NaN      수력    64    51    49  ...    77    84    78    58    66
3        NaN      화력   484   573   696  ...  3430  3581  3427  3402  3523
4        NaN     원자력   529   563   565  ...  1503  1388  1564  1648  1620
5        NaN     신재생     -     -     -  ...    86   118   151   173   195
6         북한      합계   277   263   247  ...   215   221   216   190   239
7        NaN      수력   156   150   142  ...   135   139   130   100   128
8        NaN      화력   121   113   105  ...    80    82    86    90   111
9        NaN     원자력     -     -     -  ...     -     -     -     -     -

[10 rows x 29 columns]

1-3 JSON 파일

In [8]:
df = pd.read_json("/content/drive/MyDrive/Colab Notebooks/파이썬 머신러닝 판다스 데이터 분석/data/part2/read_json_sample.json")
print(df)
df.index

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True

Index(['pandas', 'NumPy', 'matplotlib'], dtype='object')

#2. 웹(web)에서 가져오기

2-1 HTML 웹 페이지에서 표 속성 가져오기

In [17]:
import pandas as pd

tables = pd.read_html("/content/drive/MyDrive/Colab Notebooks/파이썬 머신러닝 판다스 데이터 분석/data/part2/sample.html")
print("table의 갯수:", len(tables))

# tables 리스트의 원소를 iteration하면서 각각 화면 출력
for i in range(len(tables)):
  print("tables[%s]" % i)
  print(tables[i])
  print('\n')
df = tables[1]
df.set_index(['name'], inplace = True)
df

table의 갯수: 2
tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

2-2 웹 스크래핑

In [25]:
# 코드가 정상적으로 작성됬음에도 실행이 안됨. ㅠㅠ

# 라이브러리 불러오기
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

# 위키피디아 미국 ETF 웹 페이지에서 필요한 정보를 스크래핑하여 딕셔너리 형태로 변수 etfs에 저장
url = "https://en.wikipedia.org/wiki/List_of_American_exchange-traded_funds"
resp = requests.get(url)
soup = BeautifulSoup(resp.text, 'lxml')   
rows = soup.select('div > ul > li')
    
etfs = {}
for row in rows:
    
    try:
        etf_name = re.findall('^(.*) \(NYSE', row.text)
        etf_market = re.findall('\((.*)\|', row.text)
        etf_ticker = re.findall('NYSE Arca\|(.*)\)', row.text)
        
        if (len(etf_ticker) > 0) & (len(etf_market) > 0) & (len(etf_name) > 0):
            etfs[etf_ticker[0]] = [etf_market[0], etf_name[0]]

    except AttributeError as err:
        pass    

# etfs 딕셔너리 출력
print(etfs)
print('\n')

# etfs 딕셔너리를 데이터프레임으로 변환
df = pd.DataFrame(etfs)
print(df)

{}


Empty DataFrame
Columns: []
Index: []

# 3. API 활용하여 데이터 수집하기 : **구글 지오코딩(Geocoding) API** 활용

In [27]:
# API 키를 발급받는 과정이 필요해서 일단 생략

# 4. 데이터 저장하기

4-1 csv 파일로 저장

In [31]:
import pandas as pd

data = {'name':['Jerry', 'Riah', 'Paul'],
        'algol':['A', 'A+', 'B'],
        'basic':["C", "B", "B+"],
        'C++':["B+", "C", "C+"],
        }
df = pd.DataFrame(data)
df.set_index('name', inplace = True)
print(df)
df.to_csv("./df_sample.csv")

      algol basic C++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

4-2 JSON 파일로 저장

In [32]:
# 위의 동일한 df를 JSON 파일로 저장
df.to_json("./df_sample.json")

4-3 Excel 파일로 저장

In [34]:
df.to_excel("./df_sample.xlsx")

4-4 여러 개의 데이터프레임을 하나의 excel 파일로 저장

In [39]:
data1 = {'name':['Jerry', 'Riah', 'Paul'],
        'algol':['A', 'A+', 'B'],
        'basic':["C", "B", "B+"],
        'C++':["B+", "C", "C+"],
        }
data2 = {'C0':[1,2,3],
         'C1':[4,5,6],
         'C2':[7,8,9],
         'C3':[10,11,12],
         'C4':[13,14,15]}

df1 = pd.DataFrame(data1)
df1.set_index('name', inplace = True)
print(df1)
print("\n")

df2 = pd.DataFrame(data2)
df2.set_index('C0', inplace = True)
print(df2)

# df1 -> sheet1 df2 -> sheet2에 저장
writer = pd.ExcelWriter("./df_excelwriter.xlsx") # 객체 생성 및 파일 저장경로 지정
df1.to_excel(writer, sheet_name = "sheet1") # 이렇게 .to_excel에 Writer라는 위에서 생성한 객체를 같이 전달해 줘야 함
df2.to_excel(writer, sheet_name = "sheet2")
writer.save()

      algol basic C++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+


    C1  C2  C3  C4
C0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15